/* Resize the Profile picture */
img {
    width: 80%;
    
}

header,h1,h2 {
    background-color: lightblue;
    margin-bottom: 1em;
}



body {
    text-align: center;
    font-family:'Times New Roman', Times, serif;

}

ul {
    list-style: none;
}