.margin-top {
    margin-top: 10px;

}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

.addBoarder {
    border: black solid 1px;
    margin-bottom: 1em;
    background-color: white;
}


/* ------------------------------------------------ */

#moviesToWatchCSS {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 1em;
}




/* ------------------------------------------------ */
body {
    color: orange;
    /* font-family: ; */
    background-image: url("WhiteBrickPicture");
}

button:hover {
    box-shadow: 0 1em 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.2);
}