body {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    text-align: center;
}


#myUL {
    margin-top: 10%;
}



table,td {
    border: thin solid black;
}

span {
    display: inline-block;
    min-width: 150px;
}


