body {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    text-align: center;
}


div {
    margin-bottom: 10px;
}


table,td {
    border: thin solid black;
}

span {
    display: inline-block;
    min-width: 150px;
  
}



